body {
  max-height: 100vh;
  overflow: hidden;   /* sovrascrive l'overflow auto del main content */
}

#logo-mobile {
  width: 70px;
  height: auto;
}

.my-height {
  height: calc(100vh - 96px);
}

#table-icon {
  width: 25px;
  height: auto;
}